<!DOCTYPE html>
<html>

<head>
    <title>Footer</title>
    <link rel="shortcut icon" href="../images/ms-icon-310x310.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="style.css">
    </script>


</head>



<body>


    <div id="whole">

        <div id="contact">

            <h2 class="h2">Contacts</h2>

            <a class="anchor" href="tel:+20 1229786143"><img src="../images/telephone.png" alt="Telephone" width="20px"> +20 1229786143 </a>
            <br>
            <br>

            <a class="anchor" href="mailto:Weddit@yahoo.com"><img src="../images/email.png" alt="Email"> Weddit@yahoo.com </a>
            <br>
            <br>
            <a class="anchor" href="https://goo.gl/maps/7c1YWxRm8QX7FKn36" target="_blank"><img src="../images/location.png" alt="Location" width="20px"> 172 Cairo,Eygpt </a>
            <br>
            <br>
        </div>

        <div id="about">

            <h2 class="h2">About Weddit</h2>

            This website is presenting for the bride and groom many ideas. This website will help them by ideas as to make their life easier. We have many facilites to provide them by.
            <br> We are happy to know your feedback by sending us E-mail.

        </div>


        <div id="pages">

            <a class="links" href="#"> Wedding </a>
            <br>
            <br>
            <a class="links" href="@"> Extra Ideas </a>
            <br>
            <br>
            <a class="links" href="#"> Book a planner </a>

        </div>

        <div id="footer">

            <a class="anchor" href="/Home"><img src="../images/logo.png" alt="Logo" width="50"> </a>
            <br> All Rights Reserved for weddit website &copy; Copyright 2020 <br><br><img src="../images/envolope.png" alt="Envolope"> <a class="anchor" href="mailto:Weddit@yahoo.com"> Weddit@yahoo.com </a>

        </div>

    </div>

</body>


</html>