<!DOCTYPE html>
<html>

<head>

    <title>Header</title>
    <link rel="shortcut icon" href="../images/ms-icon-310x310.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="scripts.js">
    </script>
</head>

<body>

    <div class="topnav">
        <a href="/" id="logo"><img src="../images/tours/logo.jpg" alt="Home - Historical Tourism.html" width="75" height="65"></a>

        <ul class="nav-first-ul">

            <li class="nav-li"><a href="/Tours" name="hover" class="nav-width">Tours</a>
            </li>

            <li class="nav-li"><a href="/restours" name="hover" class="nav-width"> Your Reserved Tours </a>

            </li>

            <li class="nav-li"><a href="/Translator" name="hover" class="nav-width">Translator</a></li>

            <li class="nav-li" id="login-button"><img src="../images/login-signup.png"><a href="/login" class="nav-width">Login / Signup</a></li>


            <li class="nav-li">
                <form>
                    <div id="searchall">
                        <input type="text" placeholder=" Search.." id="search">
                        <button id="nav-search-button" type="search" onclick="seachFormValidation()"><img src="../images/search.png" alt="search" width="25px" onclick="seachFormValidation()" id="img"></button>

                    </div>
                </form>
            </li>



        </ul>
        <button class="nav-button" id="nav-cart-button"><img  src="../images/cart.png" ><a >button</a></button>
        <button class="nav-button" id="nav-admin-button"><img  src="../images/admin.png"><a href="#">button</a></button>
    </div>

</body>


</html>