<!DOCTYPE html>
<html>

<head>
    <title>Payment</title>
    <link rel="shortcut icon" href="images/ms-icon-310x310.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="includes/styles.css">
    <script src="includes/jquery-3.4.1.min.js"></script>
    <script src="includes/scripts.js">
    </script>


</head>

<body>
    <div id="header"></div>

    <div class="slideshow">
        <div class=" image">
            <img src="images/tours/res.png" />
        </div>


    </div>





    <div class="content-venue">


        <button class="scroll-to-top">
                <img src="images/top-arrow.png">
        </button>


        <button class="next-to-sequence">
                <a href="">
                    <img src="images/next-sequence.webp">
                </a>
        </button>



        <h1 class="page-title"> Payment </h1>




        <div>
            <h3>Payment</h3>

            <form id="bookingvenue" onsubmit="return venuevalidation()">

                <div>
                    You will pay
                </div><br><br>



                <label class="">Cash or Visa</label>
                <br>
                <label class="">
            <input type="radio"  name="" > Cash
            <input type="radio" name="">Visa
            </label><br><br>



                <label class="">If you choose to pay by visa, please enter your credit card number</label>
                <input type="text" placeholder="Credit card number" id="">
                <br><br>




            </form>
            <a class="box-book">Confirm</a>
            <a class="closeResBox">Close</a>
        </div>


    </div>
    <script src="includes/scripts.js">
    </script>
    <script>
    </script>





</body>

</html>