<!DOCTYPE html>
<html>

<head>
    <title>Reserved tours</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="includes/styles.css">

    <script src="includes/jquery-3.4.1.min.js"></script>

    <link rel="shortcut icon" href="images/ms-icon-310x310.png" type="image/x-icon">


</head>

<body>
    <div id="header"></div>

    <div class="slideshow">
        <div class=" image">
            <img src="images/tours/reserved.jpg" />
        </div>

    </div>



    <div class="content-venue">
        <div>
            <h1 class="h1">Your upcoming tours: </h1>
            <div>
            </div>
        </div>
        <div>
            <h1 class="h1">Your reserved tours: </h1>
            <div>
            </div>
        </div>
        <div>
            <h1 class="h1">You can write your feedback on the tours you visited with us! </h1>
            <label class="ratingLabel">The Tour Name</label>
            <select id="rating" name="rating">
                  <option value="0">Choose</option>
                  <option value="1">karnak temple</option>
                  <option value="2">Giza Pyramids</option>
                  <option value="3">Saqqara and Dhashur</option>
                  <option value="4">Temple of Kom Ombo</option>
                  <option value="5">Luxor Temple</option>
                  <option value="6">Valley of the Kings</option>
                </select>
            <br><br>

            <label class="ratingLabel">Rating</label>
            <select id="rating" name="rating">
                  <option value="0">Choose</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            <br><br>

            <div>
                <textarea id="textarea" placeholder="Write something.."></textarea>
            </div><br>
            <button class="ratingLabel">Submit</button>
        </div>

    </div>



    <script src="includes/scripts.js">
    </script>
    <script>
    </script>





</body>

</html>