<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <link rel="shortcut icon" href="images/ms-icon-310x310.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="includes/styles.css">
    <script src="includes/jquery-3.4.1.min.js"></script>
    <script src="includes/scripts.js">
    </script>


</head>

<body>
    <div id="header"></div>
    <div id="content2">
        <h2 id="para">SignUp</h2>

        <form action="/signup" method="POST">
            <label class="label">Username</label>
            <br>
            <input type="text" class="username" name="user2" id="user2" placeholder="Enter your username">
            <br>
            <label class="label">Email</label>
            <br>
            <input type="text" id="email2" id="email1" name="email2" placeholder=" Example@yahoo.com" required>
            <br>
            <label class="label">Gender</label>
            <br>
            <label class="label">Phone Number</label>
            <input type="text" name="phone2" class="username" id="phone2" placeholder=" write you phone number " required>
            <label class="label">Password</label>
            <input type="password" id="password2" name="password2" placeholder="Enter your password" required>
            <button type="submit" class="login"> SignUp</button>
        </form>
    </div>
</body>

</html>