<!DOCTYPE html>
<html>

<head>
    <title>Historical Tourism Tours</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="includes/styles.css">

    <script src="includes/jquery-3.4.1.min.js"></script>

    <link rel="shortcut icon" href="images/ms-icon-310x310.png" type="image/x-icon">


</head>


<body>

    <div id="header"></div>
    <div>
        <div class=" image">
            <img src="images/Historical%20Tourism/giza_egypt.jpeg" />
        </div>
    </div>



    <div class="content-food">



        <button class="scroll-to-top">
                <img src="images/top-arrow.png">
        </button>

        <button class="next-to-sequence">
                <a href="">
                    <img src="images/next-sequence.webp">
                </a>
        </button>

        <button class="before-to-sequence">
                <a href="">
                    <img src="images/before-sequence.png">
                </a>
        </button>


        <h1 class="page-title"> Tours </h1>

        <div class="h1" id="choice-title">
            <h1> Choose the tour you want </h1>
        </div>


        <div id="jump_to_food" class="options2-content">

            <div class="options2">

                <div class="options2-inside">
                    <img src="images/tours/karnak_temple_egypt.jpg" />
                    <div class="option-description">
                        <h4 class="name-of-option">karnak temple</h4>
                        <a class="options-button" id="op1"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>karnak temple</h3>
                    <ul>
                        <li> Karnak is an ancient Egyptian temple precinct located on the east bank of the Nile River in Thebes (modern-day Luxor). It covers more than 100 hectares, an area larger than some ancient cities. The central sector of the site, which
                            takes up the largest amount of space, is dedicated to Amun-Ra, a male god associated with Thebes. The area immediately around his main sanctuary was known in antiquity as “Ipet-Sun” which means “the most select of places.”
                        </li>
                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>



                <div class="options2-inside">
                    <img src="images/tours/giza_egypt.jpeg" />
                    <div class="second-option-description">
                        <h4 class="name-of-option">Giza Pyramids</h4>
                        <a class="options-button"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>Giza Pyramids</h3>
                    <ul>
                        <li>The Giza Pyramids are that kind of historical site that just blows your mind. The tallest of the three, the Great Pyramid of Khufu, towers above the desert at 481 feet. It was the tallest building on the planet for over 3800 years,
                            until the construction of England’s Lincoln Cathedral in 1300. The three Giza Pyramids are located on the outskirts of Cairo. They were built between 2550 and 2490 BC to serve as a mortuary temple for Pharaohs Khufu, Khefre,
                            and Menkaure. Exactly how the Pyramids were built, and by whom, remains a mystery today. For years it was believed to be the work of slaves. But it is now thought that the builders were probably skilled workers from all over
                            the country. The enigmatic Sphinx was built by Khefre, and its meaning is still debated among historians. You can tour the inside of two of the pyramids during your visit. One of the three is always closed, in order to limit
                            the impact of tourism on these ancient structures. </li>

                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>



                <div class="options2-inside">
                    <img src="images/tours/saqqara_and_dhashur.jpg" />
                    <div class="third-option-description">
                        <h4 class="name-of-option">Saqqara and Dhashur</h4>
                        <a class="options-button"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>Saqqara and Dhashur</h3>
                    <ul>
                        <li> Giza is what immediately comes to mind when most people think about pyramids, and the fact that such amazing structures were built 4500 years ago is truly mind-blowing. Yet, just a few miles away, there are some pyramids that are
                            even older. The pyramids in Saqqara and Dhashur were built around 200 years before those at Giza. Saqqara and Dhashur were the necropolises of Memphis, the capital of Egypt during the Old Kingdom. They’re now a true treasure
                            trove for archaeologists and anyone interested in Egyptian history. Some of the most notable structures here include the Pyramid of Djoser (or Step Pyramid), the 80-ton alabaster sphinx, and the Bent and Red Pyramid. What’s
                            even better, they all see far fewer tourists than Giza! </li>
                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>



                <div class="options2-inside">
                    <img src="images/tours/temple_of_kom_ombo1.jpg" />
                    <div class="option-description">
                        <h4 class="name-of-option">Temple of Kom Ombo</h4>
                        <a class="options-button"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>Temple of Kom Ombo</h3>
                    <ul>
                        <li>Not far from the Temple of Horus, there’s also the Kom Ombo Temple, one of the most unusual Egyptian historical sites. Kom Ombo is known as a “double temple,” as it was dedicated to two different sets of gods. The southern part
                            of the temple is dedicated to the crocodile god Sobek, the god of fertility and creator of the world, and the northern side is in honor of Horus. The two parts of the temple are exactly symmetrical, which is a true rarity in
                            ancient Egyptian architecture.</li>

                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>



                <div class="options2-inside">
                    <img src="images/tours/luxor.jpg" />
                    <div class="second-option-description">
                        <h4 class="name-of-option">Luxor Temple</h4>
                        <a class="options-button"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>Luxor Temple</h3>
                    <ul>
                        <li>Located about 1.5 miles from Karnak, you’ll find the world-renowned Luxor Temple. This is another spectacular complex of temples and shrines built by several pharaohs, and dedicated to the “Theban triad” of gods mentioned above.
                            Karnak and Luxor Temples were once joined by an avenue lined with sphinxes, which has been partially unearthed. Walking down this avenue in the early morning mist (or after sunset, when it’s all lit up) will make you feel as
                            if you’re stepping in the footsteps of ancient history. Another notable feature of Luxor Temple is that it’s been used almost continuously for worship. A Coptic church was built on the site after Christianity spread to Egypt,
                            and in subsequent centuries a mosque was erected, which is still in use today.</li>

                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>



                <div class="options2-inside">
                    <img src="images/tours/valley_of_the_kings_egypt.jpg" />
                    <div class="third-option-description">
                        <h4 class="name-of-option">Valley of the Kings</h4>
                        <a class="options-button"> Book / Read More </a>
                    </div>
                </div>
                <div class="box">
                    <h3>Valley of the Kings</h3>
                    <ul>
                        <li>The Karnak and Luxor temples lie on the East Bank of the Nile– the City of the Living, where the city of Thebes once stood. The West Bank was always the City of the Dead, where cemeteries, mortuary temples, and mausoleums were
                            (and still are) located. Another spectacular ancient site in Luxor is the Valley of the Kings, where pharaohs were buried for over 500 years. The tombs consist of a series of underground chambers, which are beautifully decorated
                            with wall paintings and hieroglyphs, ending with the room where the pharaohs’ mummies were placed in a sarcophagus. Most of the sarcophagi and mummies now lie in Cairo’s Egyptian Museum, with the exception of King Tutankhamun.
                        </li>
                    </ul>
                    <a class="box-book" href="/reservation">Book</a>
                    <a class="box-close">Close</a>
                </div>


            </div>

        </div>







    </div>
    <script src="includes/scripts.js">
    </script>


    <script>
    </script>





</body>

</html>