<!DOCTYPE html>
<html>

<head>
    <title>Translator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../includes/styles.css">

    <script src="includes/jquery-3.4.1.min.js"></script>

    <link rel="shortcut icon" href="images/ms-icon-310x310.png" type="image/x-icon">


</head>

<body>
    <div id="header"></div>

    <div class="slideshow">
        <div class=" image">
            <img src="images/tours/reserved.jpg" />
        </div>

    </div>





    <div class="content-venue">
        <h1 class="h1"> Enter the text you want to translate</h1>


        <form>
            <label class="label">Text:</label>
            <br>
            <textarea class="translateText" placeholder="Text"></textarea>
            <div id=""></div>
            <br>


        </form>


        <a class="translateconfirm">Confirm</a>

        <div id="translated text">

        </div>


    </div>
    <script src="../includes/scripts.js">
    </script>
    <script>
    </script>





</body>

</html>